:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;
    --borderColor: #c1c1c1;
    --mainText: black;
    --secondaryText: #4b5156;
    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;
    --buttonColor: black;
}


/* width */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Track */

::-webkit-scrollbar-track {
    background: var(--mainColor);
    border: 1px solid var(--secondaryColor);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5rem;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--buttonColor);
}

html,
body {
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--mainColor);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body * {
    transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
    font-family: "Russo One", sans-serif;
    font-weight: 500;
}

textarea {
    resize: none;
}

p,
li,
span,
label,
input,
textarea {
    color: var(--secondaryText);
    font-family: "Roboto Mono", monospace;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

.item-right {
    float: right;
}

.item-center {
    display: flex;
    justify-content: center !important;
}

.container {
    padding: 0 20px;
}

.d-none {
    display: none;
}


/****** Header ******/

.header {
    border-bottom: 1px solid var(--borderColor);
    background-color: #f3f3f3;
    padding: 10px;
}

.header li:hover {
    background-color: #fff;
}

.header li:hover span,
.header li:hover i {
    color: var(--mainText);
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

.header .nav-logo {
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header .item span {
    display: none;
}

@media (min-width: 300px) {
    .header .nav-logo span {
        display: inline;
    }
}

@media (min-width: 576px) {
    .header .nav-logo span {
        display: inline;
    }
}

@media (min-width: 768px) {
    .header .item span {
        display: inline;
    }
}

@media (min-width: 992px) {
    .header .item span {
        display: inline;
    }
}

@media (min-width: 1200px) {
    .header .item span {
        display: inline;
    }
}


/********/


/* Countries */

.countries {
    margin: 0 20px;
    margin-bottom: 40px;
}

.countries .countries-title {
    padding: 10px 0;
    font-size: 30px;
    letter-spacing: 1px;
}

.countries .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.countries .grid>article {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.countries .grid>article .image {
    height: 180px;
}

.countries .grid>article img {
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    height: 100%;
}

.countries .text {
    padding: 0 20px 20px;
}

.countries .text>.button {
    width: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    padding: 8px 0;
}

.countries .text .button:hover {
    background: var(--previewBg);
    color: var(--mainText);
}

.countries .grid .text h2 {
    font-weight: bold;
}

.countries .grid .text h3 {
    font-size: 16px;
    font-weight: bolder;
}

.countries .grid .text h3 span {
    color: var(--mainText);
    font-weight: 300;
}

.countries .grid .text .button i {
    padding: 0 7px 0 0;
}


/* Country details */

.country {
    margin: 0 20px;
    padding-top: 30px;
}

.country .btn-back {
    border: 1px solid var(--borderColor);
    padding: 10px;
    border-radius: 50%;
}

.country .btn-back i {
    color: var(--mainText);
}

.country .btn-back:hover {
    background: var(--previewBg);
}

.country article .country-name {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 1px;
}

.country article .country-details div {
    margin: 30px 0;
}

.country article .country-details div h5 {
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0;
}

.country article .country-details div h5 span {
    font-weight: 300;
}

.country article h3 {
    font-weight: 600;
}

.country article .borders {
    display: flex;
    flex-wrap: wrap;
}

.country article img {
    width: auto;
    height: 280px;
}

.country article .borders ul {
    margin: 10px;
    padding: 3px 20px;
    border-radius: 3px;
    box-shadow: 0 5px 20px hsla(200, 15%, 8%, 0.1);
}

.country .downloads {
    padding: 0 0 40px 0;
}

.country .downloads .download-btn {
    display: flex;
    justify-content: center;
}

.country .downloads .download-btn button {
    border: 1px solid var(--borderColor);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.country .downloads .download-btn button:hover {
    background: var(--previewBg);
    cursor: pointer;
    color: var(--mainText);
}

@media (min-width: 992px) {
    .country article .country-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .country .country-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (min-width: 1200px) {
    .country {
        max-width: 1100px;
        margin: auto;
    }
}

@media (min-width: 1366px) {
    .country {
        max-width: 1200px;
    }
}

@media (min-width: 1440px) {
    .country {
        max-width: 1400px;
    }
}